start-at-login = true
after-startup-command = []

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 30
default-root-container-layout = "tiles"
default-root-container-orientation = "auto"
on-focused-monitor-changed = ["move-mouse monitor-lazy-center"]
automatically-unhide-macos-hidden-apps = true
[key-mapping]
    preset = "qwerty"

[gaps]
  inner.horizontal = 0
  inner.vertical = 0
  outer.left = 0
  outer.bottom = 0
  outer.top = 0
  outer.right = 0

[mode.main.binding]
  # All possible keys:
  # - Letters.        a, b, c, ..., z
  # - Numbers.        0, 1, 2, ..., 9
  # - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
  # - F-keys.         f1, f2, ..., f20
  # - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon,
  #                   backtick, leftSquareBracket, rightSquareBracket, space, enter, esc,
  #                   backspace, tab, pageUp, pageDown, home, end, forwardDelete,
  #                   sectionSign (ISO keyboards only, european keyboards only)
  # - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
  #                   keypadMinus, keypadMultiply, keypadPlus
  # - Arrows.         left, down, up, right
  # All possible modifiers: cmd, alt, ctrl, shift

  # toggle layouts
  alt-slash = "layout tiles horizontal vertical"
  alt-comma = "layout accordion horizontal vertical"

  # focus
  alt-h = "focus left"
  alt-j = "focus down"
  alt-k = "focus up"
  alt-l = "focus right"

  # move
  alt-shift-h = "move left"
  alt-shift-j = "move down"
  alt-shift-k = "move up"
  alt-shift-l = "move right"

  # resize
  alt-minus = "resize smart -100"
  alt-equal = "resize smart +100"

  # all workspaces are enabled except the following:
  #   - A and D: reserved for switching tabs in the browser via BetterTouchTool
  #   - W: reserved for closing a tab in the browser via BetterTouchTool
  #   - I: reserved for toggling "float and center"
  alt-1 = "workspace 1"
  alt-2 = "workspace 2"
  alt-3 = "workspace 3"
  alt-4 = "workspace 4"
  alt-5 = "workspace 5"
  alt-6 = "workspace 6"
  alt-7 = "workspace 7"
  alt-8 = "workspace 8"
  alt-9 = "workspace 9"
  alt-b = 'workspace B'
  alt-c = 'workspace C'
  alt-e = 'workspace E'
  alt-f = 'workspace F'
  alt-g = 'workspace G'
  alt-m = 'workspace M'
  alt-n = 'workspace N'
  alt-o = 'workspace O'
  alt-p = 'workspace P'
  alt-q = 'workspace Q'
  alt-r = 'workspace R'
  alt-s = 'workspace S'
  alt-t = 'workspace T'
  alt-u = 'workspace U'
  alt-v = 'workspace V'
  alt-x = 'workspace X'
  alt-y = 'workspace Y'
  alt-z = 'workspace Z'

  # # launch apps and move them to a workspace
  # alt-g = ["exec-and-forget open /Applications/Telegram.app", "workspace P"]
  # alt-s = ["exec-and-forget open /Applications/Slack.app", "workspace S"]
  # alt-t = ["exec-and-forget open /Applications/Things3.app", "workspace T"]
  # alt-o = ["exec-and-forget open /Applications/Obsidian.app", "workspace O"]
  # alt-p = ["exec-and-forget open /Applications/Whatsapp.app", "workspace P"]
  # alt-y = ["exec-and-forget open /Applications/Spotify.app", "workspace S"]

  # move to workspace
  alt-shift-1 = "move-node-to-workspace 1"
  alt-shift-2 = "move-node-to-workspace 2"
  alt-shift-3 = "move-node-to-workspace 3"
  alt-shift-4 = "move-node-to-workspace 4"
  alt-shift-5 = "move-node-to-workspace 5"
  alt-shift-6 = "move-node-to-workspace 6"
  alt-shift-7 = "move-node-to-workspace 7"
  alt-shift-8 = "move-node-to-workspace 8"
  alt-shift-9 = "move-node-to-workspace 9"
  alt-shift-b = 'move-node-to-workspace B'
  alt-shift-c = 'move-node-to-workspace C'
  alt-shift-e = 'move-node-to-workspace E'
  alt-shift-f = 'move-node-to-workspace F'
  alt-shift-g = 'move-node-to-workspace G'
  alt-shift-m = 'move-node-to-workspace M'
  alt-shift-n = 'move-node-to-workspace N'
  alt-shift-o = 'move-node-to-workspace O'
  alt-shift-p = 'move-node-to-workspace P'
  alt-shift-q = 'move-node-to-workspace Q'
  alt-shift-r = 'move-node-to-workspace R'
  alt-shift-s = 'move-node-to-workspace S'
  alt-shift-t = 'move-node-to-workspace T'
  alt-shift-u = 'move-node-to-workspace U'
  alt-shift-v = 'move-node-to-workspace V'
  alt-shift-x = 'move-node-to-workspace X'
  alt-shift-y = 'move-node-to-workspace Y'
  alt-shift-z = 'move-node-to-workspace Z'

  alt-tab = "workspace-back-and-forth"
  alt-shift-tab = "move-workspace-to-monitor --wrap-around next"
  alt-shift-semicolon = "mode service"

  # float and center the window. if it's already floating, return it back into the tiles.
  # depends on raycast. can't turn off the raycast pop up though.
  # TODO: fix the raycast pop up issue
  alt-i = """exec-and-forget aerospace layout floating && sleep 0.2 && open -g "raycast://windowManagementCommand?&name=Center%20Focus&position=center&relativeWidth=0.6&relativeHeight=0.7" || aerospace layout tiling"""

  # toggle padding for a given width and monitor. here, it defaults to 900 width and `main` monitor.
  # `pad` is a custom fish function that overrides `outer.left` and `outer.right`.
  alt-backtick = "exec-and-forget fish -c 'pad -w 900 -m main'"
  alt-shift-backtick = "exec-and-forget fish -c 'pad -r'"

[mode.service.binding]
  esc = ["reload-config", "mode main"]
  backspace = ["close-all-windows-but-current", "mode main"]
  r = ["flatten-workspace-tree", "mode main"]
  t = ["layout floating tiling", "mode main"]
  f = ["fullscreen", "mode main"]

  alt-shift-h = ["join-with left", "mode main"]
  alt-shift-j = ["join-with down", "mode main"]
  alt-shift-k = ["join-with up", "mode main"]
  alt-shift-l = ["join-with right", "mode main"]

[[on-window-detected]]
  # TODO: maybe apply this for all `com.apple.*` instead?
  if.app-name-regex-substring = "Calendar|Finder|Settings"
  run = "layout floating"

# move certain apps to their own workspaces upon launch
[[on-window-detected]]
  if.app-name-regex-substring = "Firefox"
  run = ["move-node-to-workspace F"]

[[on-window-detected]]
  if.app-name-regex-substring = "Telegram|Whatsapp"
  run = ["move-node-to-workspace G"]

[[on-window-detected]]
  if.app-name-regex-substring = "Obsidian"
  run = ["move-node-to-workspace O"]

[[on-window-detected]]
  if.app-name-regex-substring = "Slack"
  run = ["move-node-to-workspace S"]

[[on-window-detected]]
  if.app-name-regex-substring = "Things"
  run = ["move-node-to-workspace T"]

[[on-window-detected]]
  if.app-name-regex-substring = "Todoist"
  run = ["move-node-to-workspace T"]

[[on-window-detected]]
  if.app-name-regex-substring = "Spotify"
  run = ["move-node-to-workspace Y"]
